In [35]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [12]:
df = pd.read_csv("D:\TestDirectory\ML\LR\homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [36]:
df.bedrooms.median()   # finding median

4.0

In [31]:
# filling NaN values in bedrooms column..currently here 1 NAN but if will be more then also will apply same code syntax
df.bedrooms.fillna(df.bedrooms.median())

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [37]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median()) # overwriting values in bedrooms colum to update value
df                               # OR we can say that assining udpated value in bedrooms column so could reflect in data frame

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [38]:
model = linear_model.LinearRegression()  # Creating model
model.fit(df.drop('price',axis='columns'),df.price) # train model..here we use fit(independent_variables, dependent_variables)
# here we cannot use directly df like df.area, df.bedrooms, df.age because price is included in df so will need to drop price.
#since price is dropped then rest vairables are independents i.e. area, bedrooms, age so don't need to write code for each colum
# NOTE - we pass 2 dimension array or data frame in drop() method.

LinearRegression()

In [39]:
model.predict([[3000,3,40]])  # predction....must use two dimenstion object/array or data frame in predict() method.

C:\Users\User\Desktop\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [40]:
# Let's do mathmatical calcuation to understand maths behind prediction "price =m1*area+m2*bedrooms+m3*age+b" is linear Euation
# where m1,m2,m3 are coefficient, b is intercept

model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [41]:
model.intercept_

221323.00186540408

In [42]:
112.06244194*3000+23388.880077948*3-3231.71790863*40+221323.00186540408

498408.2515740481